.card {
  height: 100%;
  cursor: pointer;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}


.flipped {
  transform: rotateY(180deg);
}

.translucent-image {
  position: absolute;
  opacity: 0.5;
}

.overlay-content {
  top: 0;
  left: 0;
  color: #000;
  z-index: 1;
}