#home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

#home-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* viewport height */
  width: 100vw; /* viewport width */
  overflow: hidden; /* prevent scrolling */
}

#home-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* keep aspect ratio */
}

#play-pause-button {
  bottom: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  background-color: transparent;
  color: white;
  font-size: 2em;
}

.button-container {
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensures absolute positioning works within this container */
}

.chevron {
  
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
  display: none; /* Hide chevrons initially */
}

.button-container:hover .chevron {
  display: block; /* Show chevrons on hover */
}

.button-container.left .chevron {
  left: 10px; /* Position left chevron */
}

.button-container.right .chevron {
  right: 10px; /* Position right chevron */
}
